/**
 * Author: 	Josh Ibad
 * Contact: joshcibad@gmail.com
 * Project: Portfolio Website
 * Version: v0.0.01 (2020-Dec-11)
 * Filename: home-style.css
 * Description: CSS file for the css styling of the portfolio website's 
 *	home page.
 */

body {
	background-color: #202020;
}

* {
	font-family: 'Courier New', Courier, monospace;
	color:#f5f5f5;
}

p {
	/*font-family:*/
	font-size:14pt;
}


/*===========================================================================*/
 /* Main navigation style*/
nav ul {
	background-color: blue;
	display: inline-block;
	position:fixed;
	left: 0px;
	top: 0px;
	list-style-type: none;
	margin: 0;
	padding: 0;
	border: 1px solid white;
}
nav ul li {
	padding: 1vw;
	border-bottom: 1px solid white; 
}
nav ul li:last-child{border: none;}

/*===========================================================================*/
 /* Header styles */
#main-header {
	position: relative;
	height: 100vh;
	box-sizing: border-box;
	padding-top: 10vh;
	margin: 0;
	background-color: #303030;
	box-sizing:border-box;
}
@keyframes fadein {0% {opacity: 0;} 67%{opacity:0;} 100% {opacity: 100%;}}
@keyframes fadeinpic {
	0% {opacity: 0; height: 20vh;} 
	50%{height: 20vh;}
	80%{opacity: 0;}
	100% {opacity: 100%; height:55vh;}
}
@keyframes widen {0% {width: 1em;} 25% {width: 1em;} 100% {width: 9em;}}
@keyframes blinkchar {
  0% {background-color: inherit;} 50% {background-color: inherit;}
  51% {background-color:#d6d6d6;} 100% {background-color:#d6d6d6;}
}
#main-header div {
	animation: 7s fadeinpic;
	height: 55vh;/**/
	margin-bottom: 5vh;
}
#main-header div img{
	display: block;
	margin: auto;
	border-radius: 50%; /**/
	height: 100%;
	width: auto;
	box-shadow: 0 0 16px 16px #AB4C4C inset;
	background-color: #612b27;
	
}
#main-header h1 {
	width: 9em;
	margin: auto;
	text-align: center;
	font-size: min(48pt, 5vmax); /**/
	overflow: hidden;
	height: 2.5ex;
	animation: 4s widen;
	word-break: break-all;
	border-bottom: 1px ridge #969696;
}
#main-header h1 span {animation: 1s infinite blinkchar;}
#main-header h2 {
	font-size: min(26pt, 2.5vmax);
	position: absolute;
	text-align: center;
	width: 40%;
	animation: 10s fadein;
}


/*===========================================================================*/
/* Main content styles */
main {
	border-top: 4px solid black;
	padding: 0 5%;
}

div.card {
	background-color: rgba(207, 57, 57, 0.8);
	padding: 1px 20px;
	border-radius: 4px;
	margin: 16px;
}

div.card h2 { 
	font-size: 18pt;
	margin: 12pt 0px 6pt 0px;
	border-bottom: 1px solid white;
	display: inline-block;
}

div.card p, table { 
	margin-top: 4pt;
}

/*===========================================================================*/
/* URI Card Styles */
div.uri-grid{
	display: flex;
	align-items: stretch;
	flex-wrap: wrap;
}
div.uri-grid a{
	display: inline-block;
	text-decoration: none;
	text-align: center;
	margin: 1%;
	padding: 6px;
	background-color: #303030;
	border-radius: 8px;
	font-weight: bold;
}
@media only screen and (min-width: 800px){
	div.uri-grid a{ width: 40%; }
}
@media only screen and (min-width: 1200px){
	div.uri-grid a{ width: 30%; }
}
div.uri-grid a:hover {background-color: #969696;}
div.uri-grid a:active {background-color: #f5f5f5;}
/*===========================================================================*/
/* Navigation button styles */
ul.card-nav-hor {
	/*background-color: blue;/* For debugging*/
	list-style-type: none;
	overflow: hidden;
	margin: 0 auto;
	padding: 0;
	width: fit-content;
}
ul.card-nav-hor li{
	float: left;
	margin: auto;
}
ul.card-nav-hor li a{
	display: block;
	text-decoration: none;
	text-align: center;
	margin: 0 6px;
	padding: 6px;
	background-color: #303030;
	border-radius: 8px;
	font-weight: bold;
}
ul.card-nav-hor li a:hover {background-color: #969696;}
ul.card-nav-hor li a:active {background-color: #f5f5f5;}